* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 62.5%; // 10px
  box-sizing: border-box;
  scroll-padding-top: 19rem; // 6rem header + (8+ pad 4)rem resources tags + 1rem gutter
  // scroll-behavior: smooth;

  @include respond(tab){
    font-size: 56.25%; // 9px
  }
}
body {
  position: relative;
  line-height: $line-height;
  font-family: var(--font-sans);
  font-weight: var(--fw1-light);
  font-size: var(--fz);
  background-color: var(--default-bg-color);
  color: var(--default-color, #343434);
  min-height: 100vh;
  overflow-y: scroll;
}
section,header,main,footer{
  max-width: 100vw;
}
button:not([disabled]){
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

code.language-text{
  color: #f8f8f8 !important;
  border-radius: 3px !important;
  padding: 2px 4px !important;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar:horizontal {
  height: .7rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;

  @include onSiteDark(){
    background: #343434;
  }
}
 
::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #565656;
  // background-image: linear-gradient(to left, var(--c-1), var(--c-2));
}
::-webkit-scrollbar-thumb:horizontal:hover {
  background: #565656;
  // background-image: linear-gradient(to top, var(--c-1), var(--c-2));
}

// Global Selection
// ::-moz-selection {
//   background-color: #FF8B24;
//   // color: var(--color-white);
// }

// ::selection {
//   background-color: #FF8B24;
//   // color: var(--color-white);
// }

.global__link{
  &,&:link,&:visited{
    @include spclBg;
    display: inline-block;
    text-decoration: none;
    border: 2px solid transparent;
    font-family: var(--font-serif);
    font-weight: var(--fw2-medium);
    font-size: inherit;

    svg{
      color: var(--c-2);
    }
  }
  &:hover,&:focus{
    border-bottom: 2px dotted var(--c-2);
  }
  &:active{
    border-bottom: 2px solid var(--c-2);
  }
}

.global__link2{
  &,&:link,&:visited{
    display: inline-block;
    color: var(--c-2);
    text-decoration: none;
    font-family: var(--font-serif);
    font-weight: var(--fw2-medium);
    font-size: inherit;

    svg{
      color: var(--c-2);
    }
  }
  &:hover,&:focus{
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
  }
  &:active{
    -webkit-text-decoration: underline solid;
            text-decoration: underline solid;
  }
}

.icon_link{
  display: inline-flex !important;
  align-items: center;

  span{
    line-height: 1em;
  }

  svg{
    width: 1.1em;
    height: 1.1em;
  }

  &:not(.right) svg{
    margin-right: .3rem;
  }
  &.right svg{
    margin-left: .3rem;
  }

  &.link_ext svg{
    stroke-width: 2.5px;
    padding-bottom: .1em;
  }
}