// @keyframes load{
// 	0%{
// 		transform: scale(1);
// 	}
// 	33%{
// 		transform: scale(1.3);
// 	}
// 	67%{
// 		transform: scale(1);
// 	}
// 	100%{
// 		transform: scale(.8);
// 	}
// }
// .sp-loader{
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	z-index: 1005;
// 	width: 100vw;
// 	height: 100vh;
// 	background-color: #fff;
// 	display: grid;
// 	place-items: center;
// 	&.loaded{
// 		opacity: 0;
// 		visibility: hidden;
// 	}
// }
// .sp-loading{
// 	// padding: 1rem 2rem;
// 	font-size: 1.6rem;
// 	z-index: 1006;
// 	display: grid;
// 	place-items: center;
// 	animation: load 1s linear infinite;
// 	// animation-fill-mode: backwards;
// 	& svg{
// 		width: 3rem;
// 		height: 3rem;
// 	}
// }

.sp-text-small{
  font-size: 1.3rem;
}
.sp-text-mute{
  color: #999;
}
.sp-icon-link{
  display: inline-flex;
  align-items: center;
  &.active svg, &:hover svg, &:focus svg, &.active svg path, &:hover svg path, &:focus svg path {
    color: $grad-color-orange !important;
    // fill: $grad-color-orange;
    stroke: $grad-color-orange !important;
  }

  @include respond(phone-sm){
    & svg {
      display: none;
    }
  }
}