@mixin spclBg {
  background-image: var(--lGrad);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

//Media Query Manager
@mixin respond($breakpoint){
  @if $breakpoint == phone-sm {
    @media screen and (max-width: 567px){ @content };
  }
  @if $breakpoint == phone {
    @media screen and (max-width: 768px){ @content };
  }
  @if $breakpoint == tab {
    @media screen and (max-width: 1024px){ @content };
  }
  @if $breakpoint == tab-land {
    @media screen and (max-width: 1200px){ @content };
  }
}

// Dark Theme
@mixin onDark(){
  @media (prefers-color-scheme: dark) { @content };
}

@mixin onSiteDark() {
  :root[dark-mode="true"] & {@content}
}