.blog{
	&__container{
		position: relative;
		display: flex;
		padding: 2rem 0;

		@include respond(tab){
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	&__list{
		width: calc(100% - 46rem); // 42 width of sidebar + 4 margin-left
		display: flex;
		justify-content: center;

		@include respond(tab-land){
			width: calc(100% - 40rem); // 36 width of sidebar + 4 margin-left
		}

		@include respond(tab){
			width: 100%;
		}

		&-wrap{
			// max-width: 750px;
			width: 100%;
		}
	}
	&__sidebar{
		position: -webkit-sticky;
		position: sticky;
		top: 10rem;
		align-self: flex-start;
		margin-left: 4rem;
		width: 42rem;
		// max-width: 750px;

		padding: 2rem;
		border: 1px solid var(--c-g3);
		border-radius: 1rem;
		background-color: var(--default-bg-color);
		// box-shadow: 0 2px 2px 0 rgba(var(--rgb-black),.14), 0 3px 1px -2px rgba(var(--rgb-black),.12), 0 1px 5px 0 rgba(var(--rgb-black),.2);
		
		@include respond(tab-land){
			width: 36rem;
		}

		@include respond(tab){
			position: relative;
			top: 0;
			margin-left: 0;
			margin-top: 3rem;
			flex: 0 0 100%;
			width: 100%;
		}

		& .sidebar__head{
			padding-bottom: 1rem;
			border-bottom: 2px solid var(--c-2);
			margin-bottom: 1rem;

			&:not(:first-of-type){margin-top: 1rem;}

			svg{
				width: 2.5rem;
				height: 2.5rem;
				margin-right: .5rem;
				color: var(--c-2);
			}
			h3{
				@include spclBg;
			}
		}
		& .sidebar__link{
			display: flex;
			align-items: center;
			text-decoration: none;
			color: var(--s-1);
			margin: .5rem 0;

			&:hover,&:focus{
				color: var(--c-2);
			}
			&:hover span,
			&:focus span{
				text-decoration: underline;
				-webkit-text-decoration-style: dotted;
				        text-decoration-style: dotted;
			}

			&::before{
				content: '\21E8';
				font-size: 2.4rem;
				margin-right: 0.5rem;
				line-height: 1;
				color: var(--c-2);
			}
		}
		& .sidebar__content{
			.fb,.wp,.tw{
				text-decoration: none;
				margin: 1rem 2rem 0 0;

				svg{
					width: 2.8rem;
					height: 2.8rem;
				}
			}
			.fb{
				color: #4267b2;
			}
			.wp{
				color: #25d366;
			}
			.tw{
				color: #1da1f2;
			}
		}
	}

	&__item{
    text-decoration: none;
		z-index: 1;
		display: block;
    width: 100%;
		padding: 1.5rem;
    background-color: var(--c-g2);
    color: var(--default-color);
    border-top: 5px solid var(--c-g5);
    border-radius: 1rem;
    font-size: 1.8rem;
		// box-shadow: 0 2px 2px 0 rgba(var(--rgb-black),.14), 0 3px 1px -2px rgba(var(--rgb-black),.12), 0 1px 5px 0 rgba(var(--rgb-black),.2);
		box-shadow: 0 1px 2px 0 rgb(60,64,67,.3), 0 1px 3px 1px rgb(60,64,67,.15);
		transition: border-top .3s,box-shadow .3s;
		
		&:not(:last-of-type){margin-bottom: 2rem;}

		&:hover,&:focus{
			border-color: var(--c-2);
		}
		
		&--head{
			font-family: var(--font-serif);
			font-size: 2.5rem;
			font-weight: var(--fw2-medium);
		}
		&--meta{
			margin: 1rem 0 1rem -0.5rem;
			flex-wrap: wrap;
		}
		// &--tags{
			
		// }
		.text{
			font-size: 1.5rem;
		}
	}
}

.blog,
.blogPost{
	.meta__i{
		display: flex;
		align-items: center;
		margin: 0.5rem;

		svg{
			width: 1.8rem;
			height: 1.8rem;
			margin-right: .5rem;
			color: var(--c-2);
		}
		span{
			font-size: 1.6rem;
			line-height: 1;
		}
	}
	.tags .tag{
		margin-right: 1rem;
		padding: .75rem 1.2rem;
		border-radius: 6rem;
		background-image: linear-gradient(to bottom, rgba(var(--rgb-2),1), rgba(var(--rgb-1),1));
		color: #f8f8f8;
		// background-color: var(--c-g3);

		span{font-size: 1.2rem;letter-spacing: 1px;}
	}
}

//

.blogPost{
	header{
		margin-bottom: 2rem;
	}
	&__head{
		font-family: var(--font-serif);
		font-weight: var(--fw2-medium);
		font-size: 4rem;
		margin: .5rem 0 1.5rem;
	}
	&__meta{
		flex-wrap: wrap;
	}
	&__body{
		border-top: 1px solid #999;
		& > * {
			margin: 1.5rem 0;
		}
		h1{
			font-size: 2.5rem;
			font-weight: bold;
		}
		h2{
			font-size: 2rem;
			font-weight: bold;
		}
		h3{
			font-size: 1.8rem;
			font-weight: bold;
		}
		h4,h5{
			font-size: 1.6rem;
			font-weight: bold;
		}
		h6,p{
			font-size: 1.5rem;
			letter-spacing: 1px;
			text-align: justify;
		}
		p pre,pre{
			max-width: 750px;
			margin: 0 auto;
			padding: 3rem;
			font-family: monospace;
			letter-spacing: .5px;
			border-radius: .5rem;
			// span.line-number-rows{
			// 	margin-left: 2rem;
			// }
			// span.line-number-rows:first-child{
			// 	margin-top: .3rem !important;
			// }
		}
		p ul,p ol,ul,ol{
			margin-left: 5rem;
			@include respond(phone){
				margin-left: 3rem;
			}
		}
		p blockquote,p q, blockquote, q {
			font-style: italic;
			padding: 1rem 2rem;
			background-color: rgba(var(--rgb-2),.1);
			border-left: 0.5rem solid var( --c-2);
			border-radius: 8px;
		}
		img{
			display: block;
			margin: 0 auto;
			max-width: 100%;
			border-radius: .5rem;
		}
		table{
			max-width: 75rem;
			margin: 1rem auto;
			box-shadow: 0 1rem 2rem rgba(var(--rgb-black),.2);
		}
		table, th,td{
			border: 1px solid #999;
			border-collapse: collapse;
		}
		th, td{
			padding: .5rem 1rem;
		}
		th{
			background-color: #ddd;
		}
		tr:nth-child(even){
			background-color: #f2f2f2;
		}
		tr > td:first-child{
			text-align: center;
		}
		td{
			min-width: 15rem;
		}
		p code {
			padding: .5rem;
		}
		a:link,a:visited{
			display: inline-block;
			text-decoration: none;
			font-family: inherit;
			font-size: 1.5rem;
			color: var(--s-1);
			transition: border .3s;
		}
		a:hover,a:focus{
			color: var(--c-2);
			-webkit-text-decoration: underline dotted;
			        text-decoration: underline dotted;
		}
	}
	&__nav{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;

		&-link{
			text-decoration: none;
			color: var(--c-2);

			&:hover,&:focus{
				-webkit-text-decoration: underline dotted;
				        text-decoration: underline dotted;
			}

			&.prev{
				svg{
					margin-right: 1rem;
				}
			}
			&.next{
				svg{
					margin-left: 1rem;
				}
			}
		}
	}
}