.contact{
	min-height: calc(100vh - 17rem);
	
	&__wrap{
		display: grid;
		grid-template-columns: .5fr 1fr;
		grid-gap: 2rem;
		align-items: center;
		margin: 4rem 0 0;

		@include respond(tab){
			grid-template-columns: 1fr;
			grid-template-rows: 24rem 1fr;
			justify-items: center;
			margin: 2rem 0 0;
		}
	}
	&__design{
		// background: url(../images/contact_design.svg) no-repeat center center;
		// background-size: contain;
		height: 90%;
		padding: 2rem;
		margin-right: -4rem;
		background-color: var(--c-g2);
		border: 1px solid var(--c-g3);
		border-radius: 1rem;
		box-shadow: 0 .75rem 1.5rem rgba(var(--rgb-black),.2);
		z-index: 10;
		position: relative;

		@include respond(tab){
			width: 90%;
			height: 100%;
			margin-right: 0;
			margin-bottom: -8rem;
		}

		&--img{
			width: 100%;
			height: 100%;
			-o-object-fit: contain;
			   object-fit: contain;
		}
		&--layer{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
	}
	&__form{
		min-height: 24rem;
		height: 100%;
		width: 100%;
		background-image: var(--lGrad);
		border-radius: 1rem;
		box-shadow: 0 .4rem .4rem rgba(var(--rgb-black),.5);
		padding: 3rem 2.5rem 3rem 4rem;

		@include respond(tab){
			padding: 4rem 2.5rem 2.5rem 2.5rem;
		}

		form{
			width: 100%;
		}
	}
}