// Font: Sailec
@font-face {
  font-family: 'Sailec';
  src: url(fonts/Sailec/Sailec-Light.woff2) format('woff2'),
    url(fonts/Sailec/Sailec-Light.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Sailec';
  src: url(fonts/Sailec/Sailec-Medium.woff2) format('woff2'),
    url(fonts/Sailec/Sailec-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Sailec';
  src: url(fonts/Sailec/Sailec-Bold.woff2) format('woff2'),
    url(fonts/Sailec/Sailec-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}
