@import "../sass/abstracts/variables";
@import "../sass/abstracts/mixins";

.page-container{
	display: flex;
	position: relative;
	justify-content: space-between;

	@include respond(tab){
		flex-wrap: wrap;
		justify-content: center;
	}
}
.page-sidebar{
	flex: 0 0 30rem;
	align-self: flex-start;
	background-color: #f9f9f9;
	border-radius: 5px;
	margin-left: 5rem;
	position: sticky;
	top: 10rem;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	padding: 1.5rem;

	@include respond(tab){
		position: relative;
		top: 0;
		margin-left: 0rem;
		margin-top: 4rem;
		flex: 0 0 calc(100% - 0rem);
	}

	h2,h3,h4{
		width: 100%;
	}
}

.blog-container{
	flex: 1;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	@include respond(tab){
		flex: 100%;
	}
}
.blog-link{
	z-index: 1;
	width: 100%;
	color: var(--color-grey);
	text-decoration: none;
	padding: 1.5rem;
	// border: 1px solid #ccc;
	background-color: #fefefe;
	border-top: 5px solid #666;
	border-radius: 1rem;
	margin: 0;
	font-size: 1.8rem;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); // ACTUAL STYLING OF Google
	transition: border-top .3s, box-shadow .3s;
	&:not(:last-child){
		margin-bottom: 4rem;
	}

	&:hover,&:focus{
		outline: none;
		border-top: 5px solid $grad-color-orange;
		box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); // For Hover ONly, NOT ACTUAL STYLIING
	}
}

.title{
	font-family: $font-1;
	font-weight: 800;
	// text-transform: uppercase;
	letter-spacing: 1px;
	color: #000;
	font-size: 3rem;
}
.meta{
	font-size: 1.5rem;
	color: #999;
	font-family: $font-2;
	span {
		color: #555;
	}
}
.tag-container{
	display: flex;
	margin-top: 1.5rem;
	flex-wrap: wrap;
}
.tag{
	z-index: 2;
	font-family: $font-1;
	text-decoration: none;
	padding: .3rem .6rem;
	background-color: $grad-color-orange;
	background-image: $l-grad;
	color: #fff;
	margin: .6rem 1rem .6rem 0;
	border-radius: 2rem;
	font-size: 1.3rem;
	font-weight: 400;
	text-align: center;
	min-width: 5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.popular{
	// padding: .3rem;
	text-decoration: none;
	color: var(--color-p);
	font-size: 1.5rem;
	
	&:hover{
		background-image: $l-grad;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
}
.text{
	font-size: 1.5rem;
	color: #616161;
}
.popular-post-container{
	display: flex;
	align-items: flex-start;

	& svg{
		flex: 0 0 3rem;
		width: 3rem;
		height: 3rem;
		padding: .5rem;
		padding-left: 0;
		margin-right: 1rem;
	}
}
.active{
	background-image: $l-grad;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.share-btn-container{
	display: flex;
	align-items: center;
}

.share-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform .3s;

	& .facebook {
		fill: #4267B2;
	}
	& .whatsapp{
		fill: #25D366;
	}
	& .twitter{
		fill: #1DA1F2;
	}

	&:hover,&:focus,&:active{
		transform: scale(1.1);
	}

	&:not(:last-child){
		margin-right: 2rem;
	}
	& svg{
		width: 3rem;
		height: 3rem;
		transition: 300ms;
	}
}


.wa-mobile{
	display: none !important;

	@include respond(tab){
	display: inline-flex !important;
	}
}
.wa-desktop{
	@include respond(tab){
		display: none !important;
	}
}