.sp-btn,a.sp-btn{
    user-select: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: 2px solid var(--color-black);
    border-radius: .5rem;
    padding: .5rem 1rem;
    background-image: none;
    color: var(--color-black);
    transition: background-color .3s, color .3s;
    &--icon{
        width: 2rem;
        height: 2rem;
        fill: currentColor;
        margin-right: 1rem;
    }
    &:hover{
        border: 2px solid var(--color-black);
        background-color: var(--color-black);
        color: #fff;
    }
}
