.skillGroup{

	&__heading{
		font-size: 2.4rem;
		color: #f7f7f7;
		margin-bottom: 1rem;
		letter-spacing: 1px;
		font-weight: var(--fw1-bold);
		display: flex;
		align-items: center;

		&::before{
			content: '\21E8';
			display: inline-block;
			font-size: 3.2rem;
			line-height: 0;
			margin-right: 1rem;
		}
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		margin-left: 4rem;

		@include respond(phone){
			margin-left: 2.4rem;
			justify-content: center;
		}
	}
	&__item{
		min-width: 18rem;
		display: flex;
		margin: 0 1rem 1rem 0;
		padding: .5rem;
		background-color: #f7f7f7;
		border-radius: $border-radius;
	}
	&__icon{
		width: 5.4rem;
		height: 5.4rem;
		padding: 1.5rem;

		svg{
			width: 2.4rem;
			height: 2.4rem;
			color: var(--c-1);
		}
	}
	&__content{
		padding: 0 1rem 0 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #323232;

		h4{
			font-size: 1.6rem;
			font-weight: var(--fw1-bold);
		}
		span{
			font-size: 1.3rem;
			letter-spacing: 1px;
		}
	}
}