//
.sp-social--container{
    display: inline-flex;
    margin-left: 5rem;
    margin-top: 2rem;
    
    & > span{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .5rem;
        background-color: #fff;
        padding: 1rem;
        border-radius: 50%;
        transition: border-radius .3s;

        &:hover,&:focus-within{
            border-radius: .6rem;
        }
    }
}
.sp-social{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    backface-visibility: hidden;
    text-decoration: none;
    outline: none;

    svg{
        width: 2.5rem;
        height: 2.5rem;
    }
}
