.footer{
	display: grid;
	grid-template-columns: repeat(2, minmax(16rem, 1fr));
	grid-gap: 3rem;
	padding: 1rem;
	
	@include respond(phone){
		grid-template-columns: minmax(16rem, 1fr);
		padding: .5rem;
	}

	&.main{
		background-color: var(--c-1);
		color: #f7f7f7;
	}
	&.secondary{
		color: var(--c-g5);
		padding: 2rem;
	}

	&__copy{
		.mute{
			margin-top: 1rem;
			font-size: 1.3rem;
			opacity: .75;

			svg{
				width: 1.9rem;
				height: 1.9rem;
				margin-right: .5rem;
				letter-spacing: 1px;
			}
		}
	}
	&__social{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 2rem;

		a{
			&:link,&:visited{
				display: inline-block;
				margin: 0 1rem;
				text-decoration: none;
				color: currentColor;

				svg{
					width: 2.2rem;
					height: 2.2rem;
				}
			}
			&:hover,&:focus{
				color: var(--c-2);
			}
		}
	}
}