.navTrigger{
	border: none;
	outline: none;
	padding: 1rem;
	line-height: 0;
	margin: 0 1.5rem 0 0.5rem;
	background-color: transparent;
	color: var(--default-color);
	border-radius: $border-radius;

	&:active{
		background-color: var(--c-g3);
	}
}
.navTrigger svg{
	width: 2.4rem;
	height: 2.4rem;
	font-size: 2.4rem;
}

.mainWrapper{
	position: relative;
	display: flex;
	min-height: 100vh;

	--navSize: 7.4rem;
	--openNavSize: 20rem;

	@include respond(tab){
		--navSize: 6.4rem;
		--openNavSize: 18rem;
	}
	
	@include respond(phone){
		--navSize: 0;
	}

	& .header{
		transition: padding-left $transition-time;
		transition-timing-function: $transition-timing;

		& .xIcon{display: none;}
		& .barIcon{display: block;}
	}
	&.open .header{
		padding-left: calc(var(--openNavSize) - var(--navSize) + 2rem); // 2rem for navTrigger margin

		@include respond(phone){
			padding-left: 1rem; // default
		}
		
		& .xIcon{display: block;}
		& .barIcon{display: none;}
	}

	&.open .sideBar{
		width: var(--openNavSize);
	}
	// &.open .mainContent{
	// 	width: calc(100% - var(--openNavSize)); //Saroj , 100%
	// 	margin-left: var(--openNavSize); //saroj
	// }
}

.mainContent{
	width: calc(100% - var(--navSize)); //Saroj , 100%
	margin-left: var(--navSize);
	margin-top: 6rem;
	transition: margin-left $transition-time, width $transition-time;
	transition-timing-function: $transition-timing;

	@include respond(phone){
		width: 100%;
	}
}

.sideBar{
	position: fixed;
	top: 6rem;
	left: 0;
	width: var(--navSize);
	height: calc(100vh - 6rem);
	background-color: var(--c-g2);
	box-shadow: 3px 0px 6px 2px rgba(var(--rgb-black), 0.15);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	z-index: 2000;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transition: width $transition-time;
	transition-timing-function: $transition-timing;
	overflow: hidden;
}
.sideLinks{
	width: 100%;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1rem;

	& .sideLink{
		width: 100%;
		text-decoration: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-left: 4px solid transparent;
		padding: 1rem 2rem;
		color: var(--default-color);
		transition: width $transition-time;

		@include respond(phone){
			padding: 1rem 1.5rem;
		}

		& .sideLink__icon{
			width: 3.4rem;
			height: 2.4rem;
		}
		& span{
			font-size: 1.5rem;
			overflow: hidden;
			letter-spacing: 1px;
			// transition: width $transition-time;
		}

		&.current{
			// background-color: rgba(var(--rgb-2),.15); // saroj
			color: var(--c-2);
			border-color: var(--c-2);
		}

		&:not(.current):hover{
			border-color: var(--c-g4);
			background-color: var(--c-g3);
		}
	}
}

.mainWrapper{
	& .sideBar .sideLink{
		// width: var(--navSize);
		& span{margin-left: 0;width: 0;}
	}
	&.open .sideBar .sideLink{
		// width: 24rem;
		& span{margin-left: 2rem; width: 100%;}
	}
}

.themeSwitch{
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	margin: 1rem auto 2rem;
	font-family: inherit;
	font-weight: var(--fw1-bold);
	// width: calc(var(--navSize) - 1rem);
	color: var(--default-color);

	display: flex;
	justify-content: center;
	align-items: center;

	& .themeIcon{
		width: 4.4rem;
		height: 4.4rem;
		border-radius: $border-radius;
		background-color: var(--c-g3);
		padding: 1rem;
	}
	& .themeText{
		font-size: 1.4rem;
		letter-spacing: 1px;
		line-height: 0;
		display: flex;
		align-items: center;
		border-radius: $border-radius;
		background-color: var(--c-g3);
		padding: 1rem;
		margin-left: 1rem;

		& span{display: inline-block; margin: 0 0.5rem;}

		& svg{
			width: 2.4rem;
			height: 2.4rem;
		}
	}
}

.sideBar{
	&_social{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		& a {
			display: inline-block;
			text-decoration: none;
			padding: 1rem;
			color: var(--c-g4);
			line-height: 0;

			& svg{
				width: 2rem !important;
				height: 2rem !important;
			}

			&:hover{
				color: var(--c-2);
			}
		}
	}
}