.header {
  background-color: rgb(var(--grad-multi-c2));
  background-image: url('../public/assets/graphic/blurry-gradient-haikei.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header_about {
  background-color: rgb(var(--grad-multi-c2));
  background: linear-gradient(
      43deg,
      rgba(var(--grad-multi-c1), 0.75) 0%,
      rgba(var(--grad-multi-c2), 0.75) 100%
    ),
    url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23c850c0' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
      repeat 50%;
}

.header_projects {
  background-color: rgb(var(--grad-multi-c2));
  background: linear-gradient(
      43deg,
      rgba(var(--grad-multi-c1), 0.75) 0%,
      rgba(var(--grad-multi-c2), 0.75) 100%
    ),
    url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23c850c0' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E")
      repeat 50%;
}

.header_contact {
  background: rgb(var(--grad-multi-c2))
    url('../public/assets/graphic/blurry-gradient-haikei.svg') no-repeat center;
  background-size: cover;
}

.header_resources {
  background-color: rgb(var(--grad-multi-c2));
  background: linear-gradient(
      43deg,
      rgba(var(--grad-multi-c1), 0.75) 0%,
      rgba(var(--grad-multi-c2), 0.75) 100%
    ),
    url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23c850c0' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E")
      repeat 50%;
}

.skill_icon {
  @apply h-10 w-10 p-1;
}
.footer_icon_link {
  @apply inline-block w-6 h-6 text-gray-500 dark:text-gray-400 hover:text-blue-c1 dark:hover:text-blue-c1;
}
.tag1 {
  @apply px-3 py-2 inline-flex items-center rounded border border-gray-300 text-gray-600 dark:border-gray-700 dark:text-gray-300 space-x-2;

  svg {
    @apply w-5 h-5;
  }

  .material-symbols-rounded {
    @apply text-xl leading-none;
  }

  span {
    @apply text-sm;
  }
}

.tag2 {
  @apply inline-block px-1 py-[2px] m-[2px] border border-gray-200 dark:border-gray-700 text-gray-600 dark:text-gray-500 rounded;
}

.project_card {
  @apply px-4 py-4 border border-gray-300 dark:border-gray-500 rounded-2xl flex flex-col z-[2] backdrop-blur-sm;
}
.design {
  @apply relative rounded-2xl grid grid-cols-1 overflow-hidden;

  &::before {
    content: '';
    @apply absolute inset-0 w-full h-full z-0;
    background: url(../public/assets/graphic/card_bg.svg) no-repeat center;
    background-size: cover;
  }
}

.blog_card_back {
  @apply bg-gray-300 dark:bg-gray-700;
}
.blog_card {
  &:hover,
  &:focus {
    @apply shadow-md;
    .blog_card_back {
      @apply gradient_multi;
    }
  }
}

.blog_content article {
  @apply border-t border-t-gray-600 mt-4 dark:font-light;

  & > * {
    @apply my-4;
  }
  h1 {
    @apply text-xl md:text-2xl font-medium;
  }
  h2 {
    @apply text-lg md:text-xl font-medium;
  }
  h3,
  h4,
  h5 {
    @apply text-base md:text-lg font-medium;
  }
  h6,
  p {
    @apply text-base tracking-wide text-gray-700 dark:text-gray-300;
  }
  p pre,
  pre {
    @apply tracking-wide;
  }
  p ul,
  p ol,
  ul,
  ol {
    @apply font-[inherit] space-y-1 ml-2 md:ml-4;
  }

  p ol,
  ol {
    list-style-type: auto;
  }

  p ul,
  ul {
    li {
      @apply flex;

      align-items: flex-start;

      &::before {
        content: 'directions_alt';

        @apply gradient_blue_text mr-2;

        font-family: 'Material Symbols Rounded';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        font-feature-settings: 'liga';
      }
    }
  }
  p blockquote,
  p q,
  blockquote,
  q {
    @apply italic px-4 py-2 bg-multi-c1/20 border-l-4 border-l-multi-c1 rounded-md;
  }
  img {
    @apply block rounded-md;
  }
  table {
    @apply w-full my-2 mx-auto shadow;
  }
  table,
  th,
  td {
    @apply border border-gray-600 border-collapse;
  }
  th,
  td {
    @apply px-2 py-1;
  }
  th {
    @apply bg-gray-300 dark:bg-gray-600;
  }
  tr:nth-child(even) {
    @apply bg-gray-300 dark:bg-gray-700;
  }
  tr > td:first-child {
    @apply text-center;
  }
  td {
    @apply min-w-[12rem];
  }
  p code {
    @apply p-1;
  }
  a {
    @apply inline-block no-underline font-[inherit] text-sm text-multi-c1;

    &:hover,
    &:focus {
      @apply text-multi-c2 decoration-dotted underline underline-offset-4;
    }
  }
}

.blog_link {
  @apply inline-block no-underline font-[inherit] text-sm text-multi-c1;

  &:hover,
  &:focus {
    @apply text-multi-c2 decoration-dotted underline underline-offset-4;
  }
}
